<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1042952294887-3eo2f576uarekntn939162asi330rnsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042952294887-3eo2f576uarekntn939162asi330rnsg</string>
	<key>API_KEY</key>
	<string>AIzaSyBQEYTxkdiquenMzX3AJL5OCYUn-w5dIow</string>
	<key>GCM_SENDER_ID</key>
	<string>1042952294887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daian.SmartNotes</string>
	<key>PROJECT_ID</key>
	<string>smartnotes-d6193</string>
	<key>STORAGE_BUCKET</key>
	<string>smartnotes-d6193.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042952294887:ios:a3f6d93d3b31e185</string>
	<key>DATABASE_URL</key>
	<string>https://smartnotes-d6193.firebaseio.com</string>
</dict>
</plist>